html 
{ 
  background: #37360a;
}

h1 
{
	text-align: center;
	font-family: "Courier New", Courier, Sans-serif;
	font-size: 90px;
	color: #f2281e;
	/* cheesy gradient effect
	background: -webkit-linear-gradient(left, #f2281e , black);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	*/
}

h2
{
	text-align: center;
	font-family: "Courier New", Courier, Sans-serif;
	font-size: 50px;
}

#my_name
{
        margin-top: 15px;
	margin-bottom: 15px;
}

#my_title
{
	margin-top: 15px;
	/* color: #FF9900; */
}

#image
{
	text-align: center;
}

#signoff
{
	font-family: "Verdana", Verdana, Sans-serif;
	font-size: 12px;
}

#home_container
{
	background: #fff98d;
	width: 650px;
	margin-left: 25%;
	border-style: solid;
	text-align: center;
}