html 
{
	background: #A4C639;
}

a
{
  color: #0099cc;
}

h1 
{
	text-align: center;
	font-family: "Courier New", Courier, Sans-serif;
	font-size: 72px;
	color: #2F4F4F;
	/* cheesy gradient effect
	background: -webkit-linear-gradient(left, #f2281e , black);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	*/
}

h2
{
	text-align: center;
	font-family: "Courier New", Courier, Sans-serif;
	font-size: 36px;
}

#my_name
{
  margin-top: 15px;
	margin-bottom: 15px;
}

#my_title
{
	margin-top: 15px;
	/* color: #FF9900; */
}

#image
{
	text-align: center;
}

#signoff
{
	font-family: "Verdana", Verdana, Sans-serif;
	font-size: 12px;
	color: #37360a;
	text-align: center;
}

#picture_link
{
	float: left;
}

#home_container
{
	padding: 2%;
	background: #fff;
  border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	max-width: 600px;
	border-style: solid;
	text-align: center;
}
